/* ---LICENSE---
Author: Annysia Dupaya
This is a course requirement for CS 192
Software Engineering II under the
supervision of Asst. Prof. Ma. Rowena C.
Solamo of the Department of Computer
Science, College of Engineering, University
of the Philippines, Diliman for the AY 2019-
2020 
---HISTORY---
1/20/20: Annysia Dupaya - Created file, added styling*/
.header{
    background-color:#ff9800;
    position:static;
    padding: 1rem 0; 
}
